<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386569295811-6aaq7mt3it7d49oolljcveu782slo2lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386569295811-6aaq7mt3it7d49oolljcveu782slo2lk</string>
	<key>API_KEY</key>
	<string>AIzaSyDmvzTGDGnfwGv7NVDJOWUHtPFoPh5yPBE</string>
	<key>GCM_SENDER_ID</key>
	<string>386569295811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>timgrohmann.TrackSquared</string>
	<key>PROJECT_ID</key>
	<string>tracksquared</string>
	<key>STORAGE_BUCKET</key>
	<string>tracksquared.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386569295811:ios:8b42d154d854d4d2c1cf76</string>
	<key>DATABASE_URL</key>
	<string>https://tracksquared.firebaseio.com</string>
</dict>
</plist>